# -----------------------------------------------------------------------------
# Base de Données (Neon cloud ou Postgres local)
# -----------------------------------------------------------------------------
# Neon :
# DB_URL=jdbc:postgresql://HOST/neondb?sslmode=require&channelBinding=require
# Local :
# DB_URL=jdbc:postgresql://localhost:5433/brainbooster
DB_URL=jdbc:postgresql://localhost:5433/brainbooster
DB_USERNAME=myuser
DB_PASSWORD=secret

# -----------------------------------------------------------------------------
# Sécurité & JWT
# -----------------------------------------------------------------------------
JWT_SECRET_KEY=change-me-min-32-chars-hex-or-long-secret
JWT_EXPIRATION=86400000

# -----------------------------------------------------------------------------
# Service Mail / Brevo (SMTP)
# -----------------------------------------------------------------------------
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=votre_login_smtp
SMTP_PASSWORD=votre_cle_smtp
MAIL_FROM=votre_email_expediteur
